html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;

}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

/* Services
----------------------------------------- */
.services {
    background-image: url(../images/file_gif.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

.verical {
    display: flex;
    flex-direction: column;
}

.verical>li {
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    display: block;

    color: white;
    background: rgb(66, 64, 64);
    opacity: 0.7;
    margin-bottom: 1px;
    max-width: 20%;
    height: 50px;
    text-align: left;
    font-weight: 400;

    padding: 5px 10px;
}

.verical>li>a {
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;

    max-width: 35%;

    color: white;

    padding: 8px 8px;


}

/* horizontal
------------------------------------ */
.horizontal-icons>.horiz-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

}

.horiz-list li {
    list-style-type: none;
    text-decoration: none;
    background: rgb(66, 64, 64);

    padding: 7px 53px;
    margin: 0 1px;




}

.horiz-list li a {
    font-weight: 900;
    color: white;
    font-size: 18px;
    text-decoration: none;

    max-width: 35%;

}

.horiz-list li:last-of-type {
    background: rgb(161, 28, 28);
}

/* border
------------------------------------- */

.rectangle .border {
    border: 1px solid rgb(235, 228, 228);
    max-width: 100%;
    height: 250px;
    padding: 10px 35px;
    margin: 43px 100px;
}

.rectangle .all-thumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.thumbs {
    border-right: 1px solid rgb(235, 228, 228);

}

.last {
    border-right: none;


}

.thumbs p {
    margin-right: 53px;
    color: grey;
}

.heading h2 {
    color: grey;
    text-align: center;
    padding-bottom: 10px;
}

.first img:first-child {
    position: relative;
    left: 50px;
}

.last img:first-child {
    position: relative;
    left: 50px;

}


/* Slider
------------------------------------------- */
.wall {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: top right;
    max-width: 100%;
    padding: 30px;
    margin: 5px 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.wall .item {
    background-color: white;
    max-width: 390px;
    height: 400px;
    margin: 5px 10px;
    border: 10px solid white;

}

.item h2 {
    font-weight: 300;
}

.wall-first h2 {
    display: inline;
}



/* reads-more
-------------------------------------------- */
.tripple {
    display: flex;
    flex-direction: row;

    max-width: 85%;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

.tripple .item {
    width: 30%;
    padding: 0 ;
    margin: 0 14px;
    border-right: 1px solid rgb(231, 225, 225);
    flex-wrap: wrap;
    
}
.tripple .item p {
    text-align: left;
}
.tripple .item button {
    background: rgb(224, 54, 54);
    padding: 5px 10px;
}
.tripple .item a {
    color: white;
    text-decoration: none;
    border: transparent;


}

img.tombstone {
    height: 158px;
}

.tripple h4{
    margin-right: 10px;
}

.alone{
    background: rgb(235, 227, 227);
    text-align: left;
    padding: 5px 10px;
    width: 22%;
}

.alone span{
  
    padding: 5px 5px;
    background-color: rgb(224, 54, 54);
    color: white;
    font-size: 12px

}
.alone a{
    color: white;
    text-decoration: none;
}



/* contact-info
--------------------------------------------- */



/* footer
-------------------------------------------- */